* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #1ebfc1;
}

/* ========== COMMON ========== */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.btn:hover {
    opacity: 0.5;
    transition: all ease 0.5s;
}

.heading.lv2 {
    color: #0d1111;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.33;
}

/* ========== HEADER ========== */
.header {
    background: #fff;
}

.header.fixed {
    position: sticky;
    top: -44px;
    z-index: 1;
}

.header .body {
    padding: 52px 0 8px;
    display: flex;
    align-items: center;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}

.header .nav a {
    padding: 8px 19.5px;
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.header .nav li a:hover,
.header .nav li.active a {
    text-shadow: 1px 0 0 currentColor;
}

.header .action {
    display: flex;
    margin-left: 133.5px;
}

.header .action .btn {
    padding: 12px 24px;
    color: #494949;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    /* background-color: orange; */
}

.action .btn.active {
    color: #1ebfc1;
    font-weight: 600;

    border-radius: 6px;
    border: 1px solid #1ebfc1;
}

/* ========== HERO ========== */
.hero .body {
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 79px;
    display: flex;
}
/* HERO CONTENT */
.body .content-block .eyebrow {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.body .content-block .heading.lv1 {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16; /* 116.129% */
}

.body .content-block .desc {
    margin-top: 46px;
    max-width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78; /* 177.778% */
}

.body .content-block .desc .nowrap {
    white-space: nowrap;
}

.body .cta-group {
    margin-top: 52px;
    display: flex;
    align-items: center;
    gap: 0 50px;
}

.body .cta-group .btn-cta {
    padding: 20px 41px 21px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;

    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
}

.body .cta-group .btn-play {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 62px;
    height: 62px;

    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
}

/* HERO MEDIA */
.media-block {
    position: relative;
}

.body .media-block .img {
    display: block;
    width: 576px;
    height: 631px;
    object-fit: cover;
}

/* Courses */
.media-block .media-card--courses {
    position: absolute;
    top: 149px;
    left: -40px;
    padding: 17px 25px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #8bbde4;
    border-radius: 1.8rem;
    background: #fefefd;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.media-card--courses .book-icon {
    position: relative;
    display: inline-block;
}

.media-card--courses .book-icon img {
    display: block;
}

.media-card--courses .book-icon::after {
    content: "";
    position: absolute;

    width: 2.8rem;
    height: 0.4rem;

    background-color: #fff;
    border-radius: 3px;

    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.media-card--courses .title {
    margin-left: 16px;
    display: flex;
    align-items: center;

    max-width: 55px;

    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

/* Schedules */
.media-block .media-card--schedules {
    position: absolute;
    left: -65px;
    bottom: 46px;

    padding: 16px 25px 23px;
    width: 12.4rem;

    border-radius: 2.4rem;
    background: #fff;
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.media-card--schedules .schedule-lines .line {
    margin-bottom: 12px;
    display: block;

    width: 7.4rem;
    height: 0.6rem;

    background-color: #fff;
    border-radius: 5px;
}

.schedule-lines .line:first-child {
    margin-top: 16px;
    background: linear-gradient(to right, #fb9899 52%, #edf1f5 52%);
}

.schedule-lines .line:nth-child(2) {
    background: linear-gradient(to right, #fb9899 69%, #edf1f5 69%);
}

.schedule-lines .line:nth-child(3) {
    background: linear-gradient(to right, #fb9899 44%, #edf1f5 44%);
    margin-bottom: 16;
}

.schedule-lines .line:last-child {
    margin: 0 auto;
    width: 35%;
    background: #edf1f5;
}

/* Students */
.media-block .media-card--students {
    position: absolute;
    right: 45px;
    bottom: 41px;

    padding: 17px 35px;
    display: inline-block;

    border-radius: 2.4rem;
    background: #fefefd;
    box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}

.media-block .media-card--students .avatars {
    display: flex;
}

.media-block .media-card--students .avatar {
    width: 33px;
    height: 33px;
    object-fit: cover;

    border-radius: 50%;
}

.avatar:not(:first-child) {
    margin-left: -10px;
}

.avatar.quantity-students {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #1ebfc1;

    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}

/* ========== FEATURES ========== */
.features {
    padding: 30px 0;
    margin-top: 100px;
}

.features .feature-content .eyebrow {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.feature-content .heading.lv2 {
    margin-top: 18px;
    max-width: 577px;
}

.feature-content .desc {
    margin-top: 18px;
    max-width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

.features .feature-list {
    margin-top: 80px;
    display: flex;
}

.feature-list .item:first-child {
    margin-right: 209px;
}

.feature-list .item:first-child .desc {
    max-width: 168px;
}

.feature-list .item:nth-child(2) {
    margin-right: 200px;
}

.feature-list .item:nth-child(2) .desc,
.feature-list .item:nth-child(3) .desc {
    max-width: 223px;
}

.feature-list .title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}

.feature-list .desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.69; /* 168.75% */
}
